.rectangle-31 {
  align-items: flex-start;
  display: flex;
  height: 4258px;
  left: 0;
  min-width: 1438px;
  position: absolute;
  top: 0;
}

.rectangle-31-1 {
  height: 4259px;
  margin-top: -0.5px;
  width: 1438px;
}

