/* screen - 4-1tengeneza-cart-mobile */

.x4-1tengeneza-cart-mobile {
  align-items: flex-start;
  background-color: var(--watusi);
  display: flex;
  height: 3260px;
  min-width: 694px;
}

.x4-1tengeneza-cart-mobile .overlap-group6 {
  height: 3253px;
  margin-top: 7px;
  position: relative;
  width: 694px;
}

.x4-1tengeneza-cart-mobile .background {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 3253px;
  left: 0;
  min-width: 694px;
  position: absolute;
  top: 0;
}

.x4-1tengeneza-cart-mobile .overlap-group4 {
  align-items: center;
  background-image: url(../img/image-6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: -7px;
  min-height: 3260px;
  padding: 54px 0;
  width: 694px;
}

.x4-1tengeneza-cart-mobile .top_bar {
  align-self: flex-start;
  display: flex;
  margin-left: 60px;
  margin-top: 2px;
  width: 401px;
}

.x4-1tengeneza-cart-mobile .order-now {
  height: 22px;
  letter-spacing: 0;
  width: 89px;
}

.x4-1tengeneza-cart-mobile .our-services {
  cursor: pointer;
  height: 22px;
  letter-spacing: 0;
  margin-left: 34px;
  transition: all 0.2s ease;
  width: 99px;
}

.x4-1tengeneza-cart-mobile .our-services:hover {
  transform: scale(1.1);
}

.x4-1tengeneza-cart-mobile .get-it-right-once {
  cursor: pointer;
  height: 22px;
  letter-spacing: 0;
  margin-left: 34px;
  opacity: 0.8;
  transition: all 0.4s ease;
  width: 145px;
}

.x4-1tengeneza-cart-mobile .get-it-right-once:hover {
  transform: scale(1.1);
}

.x4-1tengeneza-cart-mobile .subtitle {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 207px;
  min-height: 92px;
  text-align: center;
  width: 574px;
}

.x4-1tengeneza-cart-mobile .group-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 2.0px;
  margin-top: 34px;
  min-width: 208px;
  transition: all 0.2s ease;
}

.x4-1tengeneza-cart-mobile .group-4:hover {
  transform: translate(0, -5px);
}

.x4-1tengeneza-cart-mobile .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  min-width: 206px;
  padding: 12px 44px;
}

.x4-1tengeneza-cart-mobile .order-now-1 {
  letter-spacing: 0;
  min-height: 18px;
  text-align: center;
  width: 117px;
}

.x4-1tengeneza-cart-mobile .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/image-21-1@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 483px;
  margin-top: 418px;
  min-width: 620px;
  padding: 88.3px 162px;
}

.x4-1tengeneza-cart-mobile .widget-wrapper {
  align-items: flex-start;
  display: flex;
  width: 296px;
}

.x4-1tengeneza-cart-mobile .image-22 {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
}

.x4-1tengeneza-cart-mobile .image-container {
  align-items: flex-start;
  display: flex;
  height: 142px;
  margin-left: 8.23px;
  margin-top: 764px;
  min-width: 486px;
}

.x4-1tengeneza-cart-mobile .image7 {
  align-self: flex-end;
  height: 71px;
  object-fit: cover;
  width: 62px;
}

.x4-1tengeneza-cart-mobile .image8 {
  height: 71px;
  margin-left: 351px;
  object-fit: cover;
  width: 74px;
}

.x4-1tengeneza-cart-mobile .footer {
  align-items: flex-start;
  display: flex;
  height: 219px;
  margin-top: 726px;
  min-width: 472px;
}

.x4-1tengeneza-cart-mobile .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -61px;
  margin-top: 9px;
  min-height: 171px;
  width: 194px;
}

.x4-1tengeneza-cart-mobile .title {
  letter-spacing: 0;
  min-height: 34px;
}

.x4-1tengeneza-cart-mobile .subtitle-container {
  align-self: flex-end;
  height: 87px;
  margin-top: 50px;
  position: relative;
  width: 163px;
}

.x4-1tengeneza-cart-mobile .subtitle-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 97px;
}

.x4-1tengeneza-cart-mobile .subtitle-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.x4-1tengeneza-cart-mobile .subtitle-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
  width: 163px;
}

.x4-1tengeneza-cart-mobile .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: -21px;
  min-height: 239px;
  width: 317px;
}

.x4-1tengeneza-cart-mobile .group-140 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 138px;
  width: 205px;
}

.x4-1tengeneza-cart-mobile .subtitle-4 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 11.68px;
  min-height: 30px;
  white-space: nowrap;
  width: 142px;
}

.x4-1tengeneza-cart-mobile .overlap-group1 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  margin-right: 4.0px;
  margin-top: 10px;
  min-width: 201px;
  padding: 4px 53.8px;
}

.x4-1tengeneza-cart-mobile .subtitle-5 {
  background-color: transparent;
  border: 0;
  height: 30px;
  letter-spacing: 0;
  line-height: 30px;
  padding: 0;
  white-space: nowrap;
  width: 87px;
}

.x4-1tengeneza-cart-mobile .subtitle-5::placeholder {
  color: #fdefd199;
}

.x4-1tengeneza-cart-mobile .cta {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-right: 0.69px;
  margin-top: 20px;
  min-width: 98px;
  transition: all 0.2s ease;
}

.x4-1tengeneza-cart-mobile .cta:hover {
  transform: scale(1.1);
}

.x4-1tengeneza-cart-mobile .overlap-group {
  align-items: flex-end;
  background-color: var(--oasis);
  border-radius: 8px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  min-width: 96px;
  padding: 6px 22.1px;
}

.x4-1tengeneza-cart-mobile .place {
  letter-spacing: 0;
  min-height: 20px;
  width: 48px;
}

.x4-1tengeneza-cart-mobile .flex-row {
  align-items: center;
  display: flex;
  height: 48px;
  margin-right: 4px;
  margin-top: 53px;
  min-width: 313px;
}

.x4-1tengeneza-cart-mobile .copyright {
  letter-spacing: 0;
  min-height: 22px;
  width: 16px;
}

.x4-1tengeneza-cart-mobile .subtitle-6 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 3px;
  min-height: 48px;
  white-space: nowrap;
  width: 93px;
}

.x4-1tengeneza-cart-mobile .subtitle-7 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 37px;
  min-height: 48px;
  min-width: 78px;
  white-space: nowrap;
}

.x4-1tengeneza-cart-mobile .subtitle-8 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 18px;
  min-height: 48px;
  min-width: 68px;
  white-space: nowrap;
}

.x4-1tengeneza-cart-mobile .frame-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 179px;
  min-height: 758px;
  position: absolute;
  top: 1362px;
  width: 337px;
}

.x4-1tengeneza-cart-mobile .group-143 {
  align-items: flex-start;
  display: flex;
  min-width: 339px;
}

.x4-1tengeneza-cart-mobile .overlap-group-1 {
  height: 235px;
  margin-top: -0.05px;
  position: relative;
  width: 337px;
}

.x4-1tengeneza-cart-mobile .image-25 {
  height: 152px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 120px;
}

.x4-1tengeneza-cart-mobile .subtitle-9 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 138px;
  width: 337px;
}

.x4-1tengeneza-cart-mobile .group-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  min-height: 235px;
  width: 339px;
}

.x4-1tengeneza-cart-mobile .image-26 {
  height: 126px;
  margin-left: -0.15px;
  width: 136px;
}

.x4-1tengeneza-cart-mobile .subtitle-10 {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 29px;
  min-height: 81px;
  width: 337px;
}

.x4-1tengeneza-cart-mobile .image-27 {
  height: 112px;
  margin-left: -0.03px;
  object-fit: cover;
  width: 122px;
}

.x4-1tengeneza-cart-mobile .subtitle-11 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 1.01px;
  margin-top: 27px;
  min-height: 97px;
  width: 336px;
}

.x4-1tengeneza-cart-mobile .made-with-laughter {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 168px;
  min-height: 272px;
  padding: 3px 0;
  position: absolute;
  top: 2212px;
  width: 358px;
}

.x4-1tengeneza-cart-mobile .title-1 {
  letter-spacing: 0;
  margin-top: 55px;
  min-height: 29px;
  text-align: center;
  width: 358px;
}

.x4-1tengeneza-cart-mobile .subtitle-12 {
  letter-spacing: 0;
  line-height: 26px;
  margin-right: 1.0px;
  margin-top: 44px;
  min-height: 47px;
  text-align: center;
  width: 449px;
}

.x4-1tengeneza-cart-mobile .group-4-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 2.0px;
  margin-top: 48px;
  min-width: 208px;
  transition: all 0.2s ease;
}

.x4-1tengeneza-cart-mobile .group-4-1:hover {
  transform: translate(5px, 0);
}

.x4-1tengeneza-cart-mobile .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  min-width: 206px;
  padding: 12px 46px;
}

.x4-1tengeneza-cart-mobile .oder-now {
  letter-spacing: 0;
  min-height: 18px;
  text-align: center;
  width: 113px;
}

.x4-1tengeneza-cart-mobile .frame-19 {
  align-items: flex-start;
  display: flex;
  height: 292px;
  left: 29px;
  min-width: 636px;
  position: absolute;
  top: 504px;
}

.x4-1tengeneza-cart-mobile .image-18 {
  display: block;
  height: 252px;
  object-fit: cover;
  opacity: 0;
  transform: scale(1.1);
  width: 246px;
}

.x4-1tengeneza-cart-mobile .image-18.animate-enter8 {
  animation: animate-enter8-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.x4-1tengeneza-cart-mobile .group-145 {
  align-items: flex-start;
  display: flex;
  margin-left: 179px;
  min-width: 211px;
}

.x4-1tengeneza-cart-mobile .image-container-1 {
  height: 292px;
  position: relative;
  width: 211px;
}

.x4-1tengeneza-cart-mobile .image-frame {
  height: 292px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(45px, 0);
  width: 144px;
}

.x4-1tengeneza-cart-mobile .image-frame.animate-enter9 {
  animation: animate-enter9-frames 0.40s ease-in-out 0.30s 1 normal forwards;
  opacity: 0;
  transform: translate(45px, 0);
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
transform: translate(45px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.x4-1tengeneza-cart-mobile .group-125 {
  background-image: url(../img/image-20@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 232px;
  width: 164px;
}

.x4-1tengeneza-cart-mobile .image-19 {
  height: 182px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 140px;
}

.x4-1tengeneza-cart-mobile .simple-sweet-life {
  display: flex;
  height: 157px;
  left: 252px;
  position: absolute;
  top: 125px;
  width: 204px;
}

.x4-1tengeneza-cart-mobile .title-2 {
  flex: 1;
  letter-spacing: 0;
  text-align: center;
  width: 204px;
}

.x4-1tengeneza-cart-mobile .group-130 {
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  left: 593px;
  position: absolute;
  top: 49px;
  transition: all 0.2s ease;
  width: 52px;
}

.x4-1tengeneza-cart-mobile .group-130:hover {
  transform: scale(0.9); 
}

.x4-1tengeneza-cart-mobile .shopping-cart {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 44.5px;
  min-width: 52px;
}

.x4-1tengeneza-cart-mobile .overlap-group1-1 {
  height: 44px;
  position: relative;
  width: 52px;
}

.x4-1tengeneza-cart-mobile .trolley-icon {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 40px;
  position: absolute;
  top: 5px;
  width: 38px;
}

.x4-1tengeneza-cart-mobile .vector-container {
  height: 29px;
  margin-right: -0.5px;
  margin-top: -1px;
  position: relative;
  width: 38px;
}

.x4-1tengeneza-cart-mobile .vector-3 {
  height: 17px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 32px;
}

.x4-1tengeneza-cart-mobile .vector-4 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.x4-1tengeneza-cart-mobile .ellipse-container {
  align-items: flex-start;
  display: flex;
  margin-right: 3.5px;
  margin-top: 2px;
  min-width: 26px;
}

.x4-1tengeneza-cart-mobile .ellipse-2 {
  border-radius: 4.5px;
  height: 9px;
  width: 9px;
}

.x4-1tengeneza-cart-mobile .ellipse-3 {
  border-radius: 4.5px;
  height: 9px;
  margin-left: 8px;
  width: 9px;
}

.x4-1tengeneza-cart-mobile .ellipse-2-1 {
  background-color: var(--papaya-whip);
  border-radius: 13px;
  height: 26px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 26px;
}

.x4-1tengeneza-cart-mobile .number {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 4px;
  width: 8px;
}

.x4-1tengeneza-cart-mobile .my-bag {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 776px;
  justify-content: flex-end;
  left: 276px;
  min-width: 381px;
  position: absolute;
  top: 102px;
}

.x4-1tengeneza-cart-mobile .overlap-group5 {
  align-items: center;
  background-color: var(--oasis);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  padding: 19px 25px;
  width: 381px;
}

.x4-1tengeneza-cart-mobile .vector-5 {
  align-self: flex-end;
  height: 19px;
  margin-right: 20.5px;
  margin-top: 23px;
  width: 18px;
}

.x4-1tengeneza-cart-mobile .text {
  letter-spacing: 0;
  margin-top: 12px;
  min-height: 34px;
  min-width: 213px;
  text-align: center;
}

.x4-1tengeneza-cart-mobile .vector-6 {
  height: 2px;
  margin-right: 1.63px;
  margin-top: 44px;
  width: 307px;
}

.x4-1tengeneza-cart-mobile .list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 2.0px;
  margin-top: 42px;
  min-height: 246px;
  width: 273px;
}

.x4-1tengeneza-cart-mobile .group-149 {
  align-items: flex-start;
  display: flex;
  min-width: 277px;
}

.x4-1tengeneza-cart-mobile .logo {
  height: 44px;
  object-fit: cover;
  width: 29px;
}

.x4-1tengeneza-cart-mobile .text-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 5.0px;
  margin-left: 14px;
  min-height: 17px;
  min-width: 56px;
}

.x4-1tengeneza-cart-mobile .text-2 {
  letter-spacing: 0;
  margin-left: 98px;
  margin-top: 4px;
  min-height: 22px;
  text-align: center;
  width: 76px;
}

.x4-1tengeneza-cart-mobile .group-150 {
  align-items: flex-start;
  display: flex;
  margin-left: 0;
  margin-top: 25px;
  min-width: 277px;
}

.x4-1tengeneza-cart-mobile .business-card {
  height: 41px;
  object-fit: cover;
  width: 28px;
}

.x4-1tengeneza-cart-mobile .text-3 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 10.0px;
  margin-left: 15px;
  min-height: 17px;
  width: 118px;
}

.x4-1tengeneza-cart-mobile .text-4 {
  letter-spacing: 0;
  margin-left: 33px;
  margin-top: 2px;
  min-height: 22px;
  text-align: center;
  width: 80px;
}

.x4-1tengeneza-cart-mobile .group-151 {
  align-items: flex-start;
  display: flex;
  margin-top: 25px;
  min-width: 277px;
}

.x4-1tengeneza-cart-mobile .flyer {
  height: 42px;
  object-fit: cover;
  width: 28px;
}

.x4-1tengeneza-cart-mobile .text-5 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 5.0px;
  margin-left: 14px;
  min-height: 17px;
  width: 70px;
}

.x4-1tengeneza-cart-mobile .text-6 {
  letter-spacing: 0;
  margin-left: 81px;
  margin-top: 4px;
  min-height: 22px;
  text-align: center;
  width: 80px;
}

.x4-1tengeneza-cart-mobile .group-152 {
  align-items: center;
  display: flex;
  margin-top: 25px;
  min-width: 277px;
}

.x4-1tengeneza-cart-mobile .image1 {
  height: 44px;
  object-fit: cover;
  width: 26px;
}

.x4-1tengeneza-cart-mobile .text-7 {
  letter-spacing: 0;
  margin-bottom: 3.0px;
  margin-left: 16px;
  min-height: 17px;
  width: 84px;
}

.x4-1tengeneza-cart-mobile .text-8 {
  letter-spacing: 0;
  margin-bottom: 10.0px;
  margin-left: 68px;
  min-height: 22px;
  text-align: center;
  width: 80px;
}

.x4-1tengeneza-cart-mobile .vector-7 {
  height: 2px;
  margin-right: 1.63px;
  margin-top: 40px;
  width: 307px;
}

.x4-1tengeneza-cart-mobile .pay {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  margin-top: 18px;
  min-height: 81px;
  width: 319px;
}

.x4-1tengeneza-cart-mobile .group-153 {
  align-items: center;
  display: flex;
  height: 31px;
  min-width: 309px;
}

.x4-1tengeneza-cart-mobile .text-9 {
  letter-spacing: 0;
  margin-top: 1.0px;
  min-height: 24px;
  text-align: center;
  width: 93px;
}

.x4-1tengeneza-cart-mobile .text-10 {
  letter-spacing: 0;
  margin-left: 87px;
  min-height: 31px;
  text-align: center;
  width: 125px;
}

.x4-1tengeneza-cart-mobile .group-154 {
  align-items: center;
  display: flex;
  height: 31px;
  margin-top: 19px;
  min-width: 328px;
}

.x4-1tengeneza-cart-mobile .text-11 {
  letter-spacing: 0;
  margin-top: 1.0px;
  min-height: 24px;
  text-align: center;
  width: 108px;
}

.x4-1tengeneza-cart-mobile .title-3 {
  letter-spacing: 0;
  margin-left: 81px;
  min-height: 31px;
  text-align: center;
  width: 135px;
}

.x4-1tengeneza-cart-mobile .checkout {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 104px;
  width: 330px;
}

.x4-1tengeneza-cart-mobile .cta-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 2.0px;
  transition: all 0.2s ease;
  width: 328px;
}

.x4-1tengeneza-cart-mobile .cta-1:hover {
  transform: translate(5px, 0);
}

.x4-1tengeneza-cart-mobile .group-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 2px;
  min-width: 330px;
}

.x4-1tengeneza-cart-mobile .overlap-group-3 {
  align-items: center;
  background-color: var(--grape);
  border-radius: 8px;
  display: flex;
  height: 59px;
  justify-content: flex-end;
  min-width: 328px;
  padding: 0 99.8px;
}

.x4-1tengeneza-cart-mobile .check-out {
  letter-spacing: 0;
  min-height: 19px;
  text-align: center;
  width: 128px;
}

.x4-1tengeneza-cart-mobile .view-cart {
  letter-spacing: 0;
  margin-right: 1.2px;
  margin-top: 26px;
  min-height: 19px;
  text-align: center;
  width: 128px;
}
