:root { 
  --black: #000000;
  --black-2: #000000ad;
  --black-squeeze: #f2fbfb;
  --blue-charcoal: #020f16e6;
  --cerulean-frost: #5d97c1;
  --chalet-green: #486935;
  --cod-gray: #0809098a;
  --corn-field: #fbfac9;
  --curious-blue: #178bcd8a;
  --grape: #642c99;
  --oasis: #fdefd1;
  --papaya-whip: #fcefd2;
  --portage: #80aae9;
  --shakespeare: #48b6ce;
  --tradewind: #5dc1a9;
  --tuft-bush: #fde0ce;
  --watusi: #fae0cf;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 32px;
  --font-size-xs: 14px;
  --font-size-xxl: 90px;
  --font-size-xxs: 12px;
 
  --font-family-avenir-black: "Avenir-Black", Helvetica;
  --font-family-courgette: "Courgette", Helvetica;
  --font-family-lato: "Lato", Helvetica;
  --font-family-wendy_one: "Wendy One", Helvetica;
}
.lato-bold-oasis-18px {
  color: var(--oasis);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.avenir-black-black-20px {
  color: var(--black);
  font-family: var(--font-family-avenir-black);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.lato-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-oasis-12px {
  color: var(--oasis);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-18px-2 {
  color: var(--black-2);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-corn-field-16px {
  color: var(--corn-field);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-oasis-14px {
  color: var(--oasis);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-corn-field-18px {
  color: var(--corn-field);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-corn-field-20px {
  color: var(--corn-field);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.wendyone-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-grape-18px {
  color: var(--grape);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-grape-16px {
  color: var(--grape);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-oasis-32px {
  color: var(--oasis);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-grape-20px {
  color: var(--grape);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-grape-26px {
  color: var(--grape);
  font-family: var(--font-family-lato);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.wendyone-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.lato-normal-grape-14px {
  color: var(--grape);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.lato-bold-oasis-13px {
  color: var(--oasis);
  font-family: var(--font-family-lato);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.wendyone-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-blue-charcoal-18px {
  color: var(--blue-charcoal);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-oasis-16px {
  color: var(--oasis);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-grape-14px {
  color: var(--grape);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.wendyone-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-black-90px {
  color: var(--black);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-white-120px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-black-120px {
  color: var(--black);
  font-family: var(--font-family-wendy_one);
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-chalet-green-16px {
  color: var(--chalet-green);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-wendy_one);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-white-60px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.lato-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-grape-32px {
  color: var(--grape);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-20px-2 {
  color: var(--black-2);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.lato-black-black-18px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.wendyone-normal-white-90px {
  color: var(--white);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.wendyone-normal-corn-field-32px {
  color: var(--corn-field);
  font-family: var(--font-family-wendy_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-corn-field-16px {
  color: var(--corn-field);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.wendyone-normal-corn-field-36px {
  color: var(--corn-field);
  font-family: var(--font-family-wendy_one);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

.lato-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.border-2px-black {
  border: 2px solid var(--black);
}

.border-1-5px-white {
  border: 1.5px solid var(--white);
}

.border-2px-white {
  border: 2px solid var(--white);
}

.border-2px-oasis {
  border: 2px solid var(--oasis);
}

.border-1-5px-black {
  border: 1.5px solid var(--black);
}

.border-1-5px-grape {
  border: 1.5px solid var(--grape);
}

.border-2px-corn-field {
  border: 2px solid var(--corn-field);
}
