.footer-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 102px;
  min-height: 249px;
  position: absolute;
  top: 2912px;
  width: 1173px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 127px;
  margin-left: 2.0px;
  min-width: 1175px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 127px;
  width: 484px;
}

.subtitle-16 {
  align-self: center;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 207.0px;
  min-height: 37px;
  width: 49px;
}

.title-container-2 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  margin-top: 2px;
  min-width: 418px;
}

.title-7 {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 34px;
  min-width: 166px;
}

.subtitle-17 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 155px;
  min-height: 37px;
  white-space: nowrap;
}

.subtitle-18 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: -11px;
  margin-top: 12px;
  min-height: 37px;
  white-space: nowrap;
  width: 163px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 157px;
  min-height: 103px;
  width: 394px;
}

.subtitle-19 {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 30px;
  white-space: nowrap;
}

.overlap-group4-1 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  margin-top: 30px;
  min-width: 394px;
  padding: 4px 14px;
}

.subtitle-20 {
  background-color: transparent;
  border: 0;
  height: 32px;
  letter-spacing: 0;
  line-height: 30px;
  padding: 0;
  white-space: nowrap;
  width: 358px;
}

.subtitle-20::placeholder {
  color: #fdefd199;
}

.cta-2 {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  margin-left: 32px;
  margin-top: 36.0px;
  min-width: 108px;
  transition: all 0.2s ease;
}

.cta-2:hover {
  transform: scale(1.1);
}

.overlap-group-7 {
  align-items: flex-end;
  background-color: var(--oasis);
  border-radius: 8px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  min-width: 106px;
  padding: 11px 31px;
}

.place-1 {
  letter-spacing: 0;
  min-height: 20px;
  width: 43px;
}

.flex-row-3 {
  align-items: flex-end;
  display: flex;
  height: 49px;
  margin-left: 106.0px;
  margin-top: 73px;
  min-width: 767px;
}

.copyright-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 1.0px;
  min-height: 22px;
  min-width: 15px;
}

.subtitle-21 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 3px;
  min-height: 49px;
  white-space: nowrap;
  width: 220px;
}

.subtitle-22 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 220px;
  min-height: 48px;
  white-space: nowrap;
  width: 149px;
}

.subtitle-23 {
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 36px;
  min-height: 48px;
  white-space: nowrap;
  width: 124px;
}

.footer-1.footer-3 {
  align-self: flex-start;
  left: unset;
  margin-top: 274px;
  position: unset;
  top: unset;
}

