.tengeneza-4 {
  align-items: flex-start;
  display: flex;
  height: 6502px;
  left: 0;
  min-width: 1438px;
  position: absolute;
  top: 0;
}

.component-container {
  height: 6502px;
  position: relative;
  width: 1438px;
}

.component-2 {
  height: 1668px;
  left: 0;
  position: absolute;
  top: 522px;
  width: 1345px;
}

